<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Suso de Toro: De analóxicos a dixitais	</title>
	<atom:link href="http://producingoss.ghandalf.org/suso-de-toro-de-analoxicos-a-dixitais/feed/" rel="self" type="application/rss+xml" />
	<link>http://producingoss.ghandalf.org</link>
	<description>Simplemente outro sitio Asociación Ghandalf Sites máis</description>
	<lastBuildDate>Sun, 18 Mar 2012 21:43:43 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	</channel>
</rss>
