<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Producing OSS</title>
	<atom:link href="http://producingoss.ghandalf.org/feed/" rel="self" type="application/rss+xml" />
	<link>http://producingoss.ghandalf.org</link>
	<description>Simplemente outro sitio Asociación Ghandalf Sites máis</description>
	<lastBuildDate>Sun, 18 Mar 2012 19:05:35 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
		<item>
		<title>Ola mundo!</title>
		<link>http://producingoss.ghandalf.org/2012/03/18/ola-mundo/</link>
					<comments>http://producingoss.ghandalf.org/2012/03/18/ola-mundo/#respond</comments>
		
		<dc:creator><![CDATA[administrador]]></dc:creator>
		<pubDate>Sun, 18 Mar 2012 19:05:35 +0000</pubDate>
				<category><![CDATA[Sen categorizar]]></category>
		<guid isPermaLink="false">http://producingoss.ghandalf.org/?p=1</guid>

					<description><![CDATA[<p>Welcome to Asociación Ghandalf Sites. This is your first post. Edit or delete it, then start blogging!</p>
<p>The post <a href="http://producingoss.ghandalf.org/2012/03/18/ola-mundo/">Ola mundo!</a> first appeared on <a href="http://producingoss.ghandalf.org">Producing OSS</a>.</p>]]></description>
										<content:encoded><![CDATA[<p>Welcome to <a href="http://www.ghandalf.org/">Asociación Ghandalf Sites</a>. This is your first post. Edit or delete it, then start blogging!</p><p>The post <a href="http://producingoss.ghandalf.org/2012/03/18/ola-mundo/">Ola mundo!</a> first appeared on <a href="http://producingoss.ghandalf.org">Producing OSS</a>.</p>]]></content:encoded>
					
					<wfw:commentRss>http://producingoss.ghandalf.org/2012/03/18/ola-mundo/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
