<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Sobre o libro	</title>
	<atom:link href="http://producingoss.ghandalf.org/sobre-o-libro/feed/" rel="self" type="application/rss+xml" />
	<link>http://producingoss.ghandalf.org</link>
	<description>Simplemente outro sitio Asociación Ghandalf Sites máis</description>
	<lastBuildDate>Tue, 14 Dec 2010 21:51:08 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	</channel>
</rss>
